<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Autor: Wojciech Trocki (wtrocki@gmail.com)
 Licensed under EPL License.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///pl/zgora/uz/egt.ecore"
            class="pl.zgora.uz.egt.egtPackage"
            genModel="model/graph.genmodel"/>
   </extension>

</plugin>
